.homecontainer {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto auto 2em;
    grid-template-areas: 
        "m h h h h h h h"
        "m b b b b b b b"
        "m f f f f f f f";
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 2em;
    grid-template-areas: 
        "m h h h h h h h"
        "m c c c c c c c"
        "m f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.blocks {
    grid-area: b;
}

.content {
    grid-area: c;
    border: 3px solid blue;
}

.footer {
    grid-area: f;
    border: 0px solid red;
}